* {
    font-family: "Jost", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background: linear-gradient(to right, #FE0000, #930707);
    color: white;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 2.5rem; /* Ajuste para telas maiores */
}

.main-container {
    width: 90%;
    max-width: 430px; /* Adaptado ao iPhone 14 Pro Max */
    padding: 20px;
    text-align: center;
}

.pagamento-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #6b6d6e;
    border-radius: 5px;
    text-align: center;
}

p#valor-total {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #EE0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #cc0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#qr-code-container {
    margin-top: 15px;
}

/* Ajustes no footer */
footer {
    background: linear-gradient(to right, #FE0000, #930707);
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-icons a {
    text-decoration: none;
}

.footer-icons img {
    height: 30px;
    width: auto;
}

p {
    font-size: 16px;
}

/* Media Query para telas do iPhone 14 Pro Max */
@media (max-width: 430px) {
    .main-container {
        width: 95%;
    }

    .pagamento-box {
        width: 100%;
    }

    .footer-icons {
        justify-content: space-around;
    }

    button {
        font-size: 20px;
    }

    h1 {
        font-size: 2.2rem;
    }
}
