* {
    font-family: "Jost", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
}

header {
    background: linear-gradient(to right, #FE0000, #930707);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header img {
    height: 60px;
    width: auto;
}

main {
    padding: 20px;
    height: 100vh;
}

h1{
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px;
}

.box {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px; 
    width: 100%; 
    max-width: 600px; 
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 1.2em;
    border-radius: 1px;
}

.box:hover {
    background-color: #a1a1a1;
}

footer {
    background: linear-gradient(to right, #FE0000, #930707);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute; 
    bottom: 0;
    width: 100%;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-icons a {
    margin: 0 15px;
}

.footer-icons img {
    height: 30px;
}

p {
    margin: 0;
    font-size: 16px;
}


@media (max-width: 600px) {
    .footer-icons {
        display: flex;
        justify-content: space-around;
    }

    .footer-icons a {
        margin: 10px 0;
    }
}
